-
    var faqs = [
        {
            title: "What is Netflix?",
            text: {
                p1: "Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.",
                p2: "You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!"
            }
        },
        {
            title: "How much does Netflix cost?",
            text: {
                p1: "Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one low fixed monthly fee. Plans start from US$7.99 a month. No extra costs or contracts."
            }
        },
        {
            title: "Where can I watch?",
            text: {
                p1: "Watch anywhere, anytime, on an unlimited number of devices. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.",
                p2: "You can also download your favorite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere."
            }
        },
        {
            title: "How do I cancel?",
            text: {
                p1: "Netflix is flexible. There are no pesky contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime."
            }
        },
        {
            title: "What can I watch on Netflix?",
            text: {
                p1: "Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, and more. Watch as much as you want, anytime you want."
            }
        }
    ]

section#faq
    .container
        h2 Frequently Asked Questions
        each faq in faqs
            .accordion
                button.accordion-btn= faq.title
                .accordion-text
                    p= faq.text.p1
                    if faq.text.p2
                        p= faq.text.p2
        button TRY IT NOW <i class="icon-angle-right"></i>