footer
    .container
        h3.fadeInUp Questions? Contact us.
        .links-container
            ul
                li.fadeInUp
                    a(href="#") FAQ
                li.fadeInUp
                    a(href="#") Investor Relations
                li.fadeInUp
                    a(href="#") Privacy
                li.fadeInUp
                    a(href="#") Speed Test
            ul
                li.fadeInUp
                    a(href="#") Help Center
                li.fadeInUp
                    a(href="#") Jobs
                li.fadeInUp
                    a(href="#") Cookie Preferences
                li.fadeInUp
                    a(href="#") Legal Notices
            ul
                li.fadeInUp
                    a(href="#") Account
                li.fadeInUp
                    a(href="#") Ways to Watch
                li.fadeInUp
                    a(href="#") Corporate Information
                li.fadeInUp
                    a(href="#") Netflix Originals
            ul
                li.fadeInUp
                    a(href="#") Media Center
                li.fadeInUp
                    a(href="#") Terms of Use
                li.fadeInUp
                    a(href="#") Contact Us
        select.fadeInUp
            option العربية
            option(selected) English
        p.fadeInUp Netflix Sudan
        