footer
    .container
        h3 Questions? Contact us.
        .links-container
            ul
                li
                    a(href="#") FAQ
                li
                    a(href="#") Investor Relations
                li
                    a(href="#") Privacy
                li
                    a(href="#") Speed Test
            ul
                li
                    a(href="#") Help Center
                li
                    a(href="#") Jobs
                li
                    a(href="#") Cookie Preferences
                li
                    a(href="#") Legal Notices
            ul
                li
                    a(href="#") Account
                li
                    a(href="#") Ways to Watch
                li
                    a(href="#") Corporate Information
                li
                    a(href="#") Netflix Originals
            ul
                li
                    a(href="#") Media Center
                li
                    a(href="#") Terms of Use
                li
                    a(href="#") Contact Us
        select
            option العربية
            option(selected) English
        p Netflix Sudan
        