header
    .overlay
    .container
        nav
            .logo
                include ../partials/logo
            button Sign In
        .hero
            h1 Unlimited movies, TV shows, and more.
            h2 Watch anywhere. Cancel anytime
            button TRY IT NOW