header
    .overlay
    .container
        nav
            .logo
                include ../partials/logo
            button Sign In
        .hero
            h1 Unlimited movies, TV shows, and more.
            h2 Watch anywhere. Cancel anytime
            form
                input(type="text" placeholder="Email address")
                button(role="button" type="submit") TRY IT NOW <i class="icon-angle-right"></i>
            //- button TRY IT NOW <i class="icon-angle-right"></i>