// #faq
//   background: black
//   padding: 4rem 0
//   p
//     margin: 1rem 0
//   ul
//     width: 50%
//     list-style: none
//     padding: 0
//     margin: 0 auto
//     li
//       background: $darkGray
//       position: relative
//       padding: 1rem 2rem
//       margin-bottom: 1rem
//       &:last-of-type
//         margin-bottom: 2rem
//       input[type=checkbox]
//         position: absolute
//         cursor: pointer
//         left: 0
//         top: 0
//         width: 100%
//         height: 100%
//         z-index: 1
//         opacity: 0
//         &:checked
//           &~.title:after
//             transform: translateY(-50%) rotate(0deg)
//           &~.text
//             p
//               margin: 0
//               max-height: 0
//               opacity: 0
//               transform: translate(0, 50%)
//       .title
//           color: white
//           margin: 0
//           font-size: 2rem
//           position: relative
//           &:after
//             content: "\e800"
//             font-family: "fontello"
//             position: absolute
//             top: 50%
//             right: 1rem
//             transition: all .25s ease-in-out
//             transform: translateY(-50%) rotate(135deg)
//       .text
//           position: relative
//           overflow: hidden
//           font-size: 1.5rem
//           transition: all 5s ease-in-out
//           transform: translate(0, 0)  
//           z-index: 2
//   button
//     @extend %tryBtn
//     display: block
//     margin: auto

#faq
  background: black
  padding: 4rem 0
  display: flex
  justify-content: center
  align-items: center
  h2
    font-size: 3rem
    margin-bottom: 4rem
    text-align: center
  .accordion
    width: 75%
    margin-left: auto
    margin-right: auto
    &:first-of-type .accordion-btn
      margin-top: 0
    .accordion-btn,
    .accordion-text
      background: $darkGray
      font-size: 1.5rem
    .accordion-btn
      background: $darkGray
      color: inherit
      width: 100%
      text-align: left
      border: none
      outline: none
      margin-top: 1rem
      padding: 1.5rem
      position: relative
      &:after
        content: "\e800"
        font-family: "fontello"
        font-size: 2rem
        position: absolute
        top: 50%
        right: 2rem
        transition: all .25s ease-in-out
        transform: translateY(-50%) rotate(0deg)
      &.active:after
        transform: translateY(-50%) rotate(135deg)
    .accordion-text
      border-top: 1px solid black
      max-height: 0
      padding: 0
      overflow: hidden
      transition: max-height .25s linear
      p
        margin: 0
        padding: 1.5rem
        &+p
          margin-top: 1rem
          padding-top: 0
      &.active
        max-height: 20rem
  button.tryBtn
    @extend %tryBtn
    display: block
    margin: 2rem auto 0