#faq
  background: black
  padding: 4rem 0
  display: flex
  justify-content: center
  align-items: center
  h2
    font-size: 3rem
    margin-bottom: 4rem
    text-align: center
    opacity: 0
    transform: translateY(2rem)
    @media(max-width: 767px)
      font-size: 2.5rem
      margin-bottom: 2rem
    @media(max-width: 465px)
      font-size: 1.8rem
  .accordion
    width: 75%
    margin-left: auto
    margin-right: auto
    opacity: 0
    transform: translateY(2rem)
    @media(max-width: 991px)
      width: auto
    &:first-of-type .accordion-btn
      margin-top: 0
    .accordion-btn,
    .accordion-text
      background: $darkGray
      font-size: 1.5rem
      @media(max-width: 767px)
        font-size: 1.2rem
    .accordion-btn
      display: flex
      justify-content: space-between
      background: $darkGray
      color: inherit
      width: 100%
      border: none
      outline: none
      margin-top: 1rem
      padding: 1.5rem
      @media(max-width: 465px)
        text-align: left
      i
        transform: scale(1.5)
        display: flex
        align-items: center
      
    .accordion-text
      border-top: 1px solid black
      max-height: 0
      padding: 0
      overflow: hidden
      p
        margin: 0
        padding: 1.5rem
        &+p
          margin-top: 1rem
          padding-top: 0
  button.tryBtn
    @extend %tryBtn
    display: block
    margin: 2rem auto 0
    opacity: 0
    transform: translateY(2rem)