footer
    background: black
    padding: 4rem 0
    .links-container
        display: flex
        justify-content: space-between
        width: 80%
        ul
            list-style: none
            padding: 0
            margin-bottom: 2rem
            &:last-of-type
                margin-right: 0
            li
                margin-bottom: 1rem
                &:last-of-type
                    margin-bottom: 0
    select
        background: black
        color: white
        padding: 1rem
        font-size: 1rem
        border-radius: .5rem
        margin-bottom: 1rem