header
    background: url("../assets/header-bg.jpg") no-repeat
    background-size: cover
    position: relative
    padding-bottom: 10rem
    .overlay
        position: absolute
        z-index: 1
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: black
        opacity: .6
    .container
        position: relative
        z-index: 2
    nav
        display: flex
        padding: 2rem 0
        .logo
            width: 8rem
            fill: $red
        button
            margin-left: auto
            background: $red
            color: inherit
            border-radius: .25rem
            border: none
            padding: 0 1rem
            height: auto
    .hero
        text-align: center
        width: 50%
        margin: 6rem auto 0
        @media(max-width: 991px)
            width: 75%
        @media(max-width: 767px)
            width: auto
        h1
            font-size: 3rem
            margin-bottom: 1rem
        h2
            font-weight: 400
            font-size: 1.75rem
            margin-bottom: 3rem
        button
            @extend %tryBtn
        p
            font-size: 1.5rem