<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Netflix Sudan - Watch TV Shows Online, Watch Movies Online
        link(rel="stylesheet", href="./styles/main.css")
    body
        include ./sections/header
        include ./sections/features
        include ./sections/faq
        include ./sections/footer