mixin feature(header, desc, device)
    .feature
        .info
            h2= header
            p= desc
        .image
            .animation-container
                img(src=`./assets/${device}.png`)