@import url(./normalize.css);
body {
  color: white;
  height: 7000px; }

.container {
  width: 1100px;
  margin: auto; }

button {
  cursor: pointer; }

h1, h2 {
  margin: 0; }

header {
  background: url("../assets/header-bg.jpg") no-repeat center center;
  position: relative;
  padding-bottom: 10rem; }
  header .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .75; }
  header .container {
    position: relative;
    z-index: 2; }
  header nav {
    display: flex;
    padding: 2rem 0; }
    header nav .logo {
      width: 10rem;
      fill: #e50914; }
    header nav button {
      margin-left: auto;
      background: #e50914;
      color: inherit;
      border-radius: .25rem;
      border: none;
      padding: 0 1.5rem;
      height: auto; }
  header .hero {
    text-align: center;
    margin-top: 10rem; }
    header .hero h1 {
      font-size: 3rem; }
    header .hero h2 {
      font-size: 2rem;
      margin-bottom: 2rem; }
    header .hero form {
      display: flex;
      justify-content: center; }
      header .hero form input {
        padding: 1.5rem 1rem;
        width: 50%; }
      header .hero form button {
        width: 20%;
        border: none;
        background: #e50914;
        color: inherit; }
    header .hero p {
      font-size: 1.5rem; }

#features {
  background: black; }
  #features .feature {
    display: flex;
    padding: 4rem 0;
    align-items: center; }
    #features .feature.reversed {
      flex-direction: row-reverse; }
    #features .feature #tv {
      position: relative; }
      #features .feature #tv img {
        position: relative;
        z-index: 2; }
      #features .feature #tv video {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%); }
    #features .feature #mobile {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #features .feature #mobile img {
        width: 65%; }
      #features .feature #mobile .download-box {
        display: flex;
        align-items: center;
        min-height: 70px;
        border: 2px solid gray;
        border-radius: .5rem;
        background: black;
        padding: 1rem;
        width: 50%;
        margin-top: -8rem; }
        #features .feature #mobile .download-box img {
          height: auto; }
          #features .feature #mobile .download-box img:first-of-type {
            width: 50px;
            margin-right: 1rem; }
          #features .feature #mobile .download-box img:last-of-type {
            width: 50px;
            display: block;
            margin-left: auto; }
        #features .feature #mobile .download-box p {
          margin: 0; }
          #features .feature #mobile .download-box p:first-of-type {
            font-weight: bold;
            font-size: 1.2rem; }
          #features .feature #mobile .download-box p:last-of-type {
            color: #0071eb; }
    #features .feature #devices {
      position: relative; }
      #features .feature #devices img {
        position: relative;
        z-index: 2; }
      #features .feature #devices video {
        position: absolute;
        z-index: 1;
        left: 120px;
        width: 62%;
        top: 50px; }
