@import url(./normalize.css);
@import url(./fontello.css);
header .hero button, #faq button.tryBtn {
  background: #e50914;
  border: none;
  color: inherit;
  padding: .75rem 1.5rem;
  font-size: 2rem; }

* {
  box-sizing: border-box; }

html {
  font-family: "Roboto", "sans-serif"; }

body {
  color: white; }

h1, h2 {
  margin: 0; }

hr {
  margin: 0;
  height: .5rem;
  border: none;
  background: #303030; }

button {
  cursor: pointer; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.icon-angle-right:before,
.icon-plus:before {
  margin: 0; }

.container {
  width: 1100px;
  margin: auto; }

header {
  background: url("../assets/header-bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 10rem; }
  header .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .5; }
  header .container {
    position: relative;
    z-index: 2; }
  header nav {
    display: flex;
    padding: 2rem 0; }
    header nav .logo {
      width: 8rem;
      fill: #e50914; }
    header nav button {
      margin-left: auto;
      background: #e50914;
      color: inherit;
      border-radius: .25rem;
      border: none;
      padding: 0 1rem;
      height: auto; }
  header .hero {
    text-align: center;
    width: 50%;
    margin: 6rem auto 0; }
    header .hero h1 {
      font-size: 3rem;
      margin-bottom: 1rem; }
    header .hero h2 {
      font-weight: 400;
      font-size: 1.75rem;
      margin-bottom: 3rem; }
    header .hero p {
      font-size: 1.5rem; }

#features {
  background: black; }
  #features .container:first-of-type .feature {
    padding-top: 0;
    padding-bottom: 4rem; }
  #features .container:last-of-type .feature {
    padding-bottom: 3rem; }
  #features .feature {
    display: flex;
    align-items: center;
    padding: 4rem 0; }
    #features .feature.reversed {
      flex-direction: row-reverse; }
    #features .feature .info {
      width: 50%; }
      #features .feature .info h2 {
        font-size: 3rem; }
      #features .feature .info p {
        font-size: 1.5rem; }
      #features .feature .info button {
        background: transparent;
        color: inherit;
        border: 1px solid #fff;
        padding: 1rem 1.25rem;
        font-size: 1.25rem; }
    #features .feature #tv {
      position: relative; }
      #features .feature #tv img {
        position: relative;
        z-index: 2;
        width: 100%; }
      #features .feature #tv video {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%); }
    #features .feature #mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateY(-2rem); }
      #features .feature #mobile img {
        width: 75%; }
      #features .feature #mobile .download-box {
        display: flex;
        align-items: center;
        margin: 3rem;
        min-height: 70px;
        border: 2px solid gray;
        border-radius: .5rem;
        background: black;
        padding: 1rem;
        width: 60%;
        margin-top: -8rem; }
        #features .feature #mobile .download-box img {
          height: auto; }
          #features .feature #mobile .download-box img:first-of-type {
            width: 50px;
            margin-right: 1rem; }
          #features .feature #mobile .download-box img:last-of-type {
            width: 50px;
            display: block;
            margin-left: auto; }
        #features .feature #mobile .download-box p {
          margin: 0; }
          #features .feature #mobile .download-box p:first-of-type {
            font-weight: bold;
            font-size: 1.2rem; }
          #features .feature #mobile .download-box p:last-of-type {
            color: #0071eb; }
    #features .feature #devices {
      position: relative; }
      #features .feature #devices img {
        position: relative;
        z-index: 2;
        width: 100%; }
      #features .feature #devices video {
        position: absolute;
        z-index: 1;
        left: 110px;
        width: 62%;
        top: 42px; }

#faq {
  background: black;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #faq h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center; }
  #faq .accordion {
    width: 75%;
    margin-left: auto;
    margin-right: auto; }
    #faq .accordion:first-of-type .accordion-btn {
      margin-top: 0; }
    #faq .accordion .accordion-btn,
    #faq .accordion .accordion-text {
      background: #303030;
      font-size: 1.5rem; }
    #faq .accordion .accordion-btn {
      background: #303030;
      color: inherit;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      margin-top: 1rem;
      padding: 1.5rem;
      position: relative; }
      #faq .accordion .accordion-btn:after {
        content: "\e800";
        font-family: "fontello";
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transition: all .25s ease-in-out;
        transform: translateY(-50%) rotate(0deg); }
      #faq .accordion .accordion-btn.active:after {
        transform: translateY(-50%) rotate(135deg); }
    #faq .accordion .accordion-text {
      border-top: 1px solid black;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: max-height .25s linear; }
      #faq .accordion .accordion-text p {
        margin: 0;
        padding: 1.5rem; }
        #faq .accordion .accordion-text p + p {
          margin-top: 1rem;
          padding-top: 0; }
      #faq .accordion .accordion-text.active {
        max-height: 20rem; }
  #faq button.tryBtn {
    display: block;
    margin: 2rem auto 0; }

footer {
  background: black;
  color: #aaaaaa;
  padding: 4rem 0 2rem; }
  footer h3 {
    font-weight: 100; }
  footer .links-container {
    display: flex;
    justify-content: space-between;
    width: 80%; }
    footer .links-container ul {
      list-style: none;
      padding: 0;
      margin-bottom: 2rem; }
      footer .links-container ul:last-of-type {
        margin-right: 0; }
      footer .links-container ul li {
        margin-bottom: 1rem;
        font-weight: .85rem; }
        footer .links-container ul li:last-of-type {
          margin-bottom: 0; }
        footer .links-container ul li a {
          color: inherit; }
  footer select {
    background: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    cursor: pointer; }
