*
    box-sizing: border-box

body
    color: white
    
.container
    width: 1100px
    margin: auto

button
    cursor: pointer

h1, h2
    margin: 0

a
    color: white
    text-decoration: none
    &:hover
        text-decoration: underline