*
    box-sizing: border-box

html
    font-family: "Roboto", "sans-serif"

body
    position: relative
    color: white
    overflow: hidden

h1, h2
    margin: 0

hr
    margin: 0
    height: .5rem
    border: none
    background: $darkGray

button
    cursor: pointer

a
    color: white
    text-decoration: none
    &:hover
        text-decoration: underline

.icon-angle-right:before,
.icon-plus:before
    margin: 0